<div class="row products">

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel1.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Nón</a></h3>
        <p class="price">310 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a routerLink="/shopping/chitietsp" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Móc trang trí</a></h3>
        <p class="price">530 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a href="product.html" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel3.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Đồng hồ</a></h3>
        <p class="price">310 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a href="product.html" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel6.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Set đồ nam</a></h3>
        <p class="price">415 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a href="product.html" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>

      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel2.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Túi noel</a></h3>
        <p class="price">310 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a href="product.html" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="product">
      <a href="product.html">
                    <img src="./../../../assets/web/img/imgShop/shopnoel5.jpg" alt="Product" class="img-responsive">
                  </a>
      <div class="text">
        <h3><a href="product.html">Kẹp tóc</a></h3>
        <p class="price">310 <i style="color:red">Point</i></p>
        <p class="buttons">
          <a href="product.html" class="btn btn-default"> 
                        <i class="fa fa-eye"></i>Xem chi tiết
                      </a>
          <a routerLink="/giohang" class="btn btn-primary"> 
                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                      </a>
        </p>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>
  <!-- /.col-md-4 -->
  <!-- /.products -->
  <div class="pages">
    <ul class="pagination">
      <li><a href="#">&laquo;</a>
      </li>
      <li class="active"><a href="#">1</a>
      </li>
      <li><a href="#">2</a>
      </li>
      <li><a href="#">3</a>
      </li>
      <li><a href="#">4</a>
      </li>
      <li><a href="#">5</a>
      </li>
      <li><a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.products -->
