
<!-- /.carousel -->
<div id="feature1">
    <div class="container">
        <div class="row">
            <form class="search">
                <div>
                    <input [(ngModel)]="searchName" name="searchName" type="search" placeholder="Tìm theo tên công việc, vị trí ...">
                    <button (click)="OnclickSearch()" value=""><img src="./../../../assets/web/img/search.png" alt="Search"></button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- feature1 -->
<div id="feature2">
    <div class="container">
        <div class="row">
            <div *ngFor="let new of news | filter : searchKey | paginate: { itemsPerPage:6, currentPage: p}" class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading no-padding center">
                        <p class="text-center" style="color:white; font-size:16px; ">{{new.title}}</p>
                    </div>
                    <div class="panel-body">

                        <a [routerLink]="['/chitiettin/', new._id]"><img src="./../../../assets/web/img/imgtin/{{new.urlHinh}}" alt="java" class="img-responsive"></a>
                        <div class="row" style="padding:10px 5px;">
                            <div class="hang">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Địa điểm</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="color:blue;">{{new.place}}</div>
                            </div>
                            <div class="hang1">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Lương</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="color:lightsalmon;">{{new.salary}}</div>
                            </div>
                            <div class="hang2">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Vị trí</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="color:lightsalmon;">{{new.position}}</div>
                            </div>
                            <div class="hang3">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Ngày đăng</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left"> {{new.create_date | date:'dd/MM/yyyy'}}</div>
                            </div>
                            <div class="hang4">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Hạn nộp hồ sơ</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">{{new.exp_date | date:'dd/MM/yyyy'}}</div>
                            </div>
                            <div class="hang5">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left">Point thưởng</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="color:red;font-weight: bold;">{{new.point_uv}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center panel-footer" style="height: 52px;">
                        <div class="pull-right">
                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="pull-left">
                            <div *ngIf="!user">
                                <a routerLink="/redirectpage" class="btn btn-primary">Ứng tuyển</a>
                                <a routerLink="/redirectpage" class="btn btn-success">Giới thiệu</a>
                            </div>
                            <div *ngIf="user">
                                <a routerLink="/profile" class="btn btn-primary">Ứng tuyển</a>
                                <a routerLink="/formgioithieu" class="btn btn-success">Giới thiệu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .panel -->
            </div>
            <!-- .col-lg-6 -->

            <div class="col-lg-12">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <!-- .col-lg-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .feature2 -->

<div id="feature3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h2 class="page-header heading-secondary-a">Gương mặt tiêu biểu tháng {{month}}</h2>
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let user of users" class="col-md-3">
                            <div class="block block-light block-center block-image block-border">
                                <img src="./../../../assets/web/img/imguser/{{user.urlHinh}}">
                                <h4>{{user.username}}</h4>
                                <p>
                                    Point tích lũy: {{user.point}} <br /> Đã giới thiệu: {{user.uvNumber}}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <h2 class="page-header heading-secondary-a" style="color:#2ECCFA">Gương mặt tiêu biểu tháng {{month}}</h2>
                <h2 class="page-header heading-secondary-a">Gương mặt tiêu biểu</h2>
                <div *ngFor="let user of users" class="col-md-3">
                    <div class="block block-light block-center block-image block-border">
                        <img src="./../../../assets/web/img/imguser/{{user.urlHinh}}">
                        <h4>{{user.username}}</h4>
                        <p>
                            Point tích lũy: {{user.point}} <br /> Đã giới thiệu: {{user.uvNumber}}
                        </p>
                    </div>
                </div> -->

            </div>
            <!--col-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!--#feature3-->