
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        Detail Event Page <!-- <small>Best form elements.</small> -->
      </h1>
    </div>
		<div class="col-lg-12">
				<!-- image here -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="jumbotron">
							<img src="./assets/imgs/intro.png" alt="intro" class="img-responsive">
						</div>
					</div>

					<!-- content here -->
					<div class="panel-body">
						<div class="col-sm-12 col-md-12">
							<h3 class="title">Giới thiệu</h3>
						</div>
						<div class="col-sm-12">
							<div>
								<p>
									GENERAL INFORMATION
									<br/>
									Date: 13-15 June 2018
									<br/>
									VENUE: Saigon Exhibition Convention Center (SECC) Ho Chi Minh City, Vietnam
									<br/>
									Co – located with: Rubber & Tyre, Rubber Tech Vietnam 2018
									<br/>
									Estimated exhibition size: 2,500 sqm
									<br/>
									Estimated No. of exhibitor: 120 exhibitors
									<br/>
									Estimated No. of visitor: 2,500 visitors from 15 countries
									<br/>
									Opening hours: 09.00 – 17.00 hrs. 	

									EXHIBITOR PROFILE
									<br/>
									Additives, Adhesives & Glues, Auxiliary/Ancillary Equipment, Injection & Blow Moulding Machinery, Presses, Material Formulating / Compounding, Measuring, Control & Test Equipment, Mould & Dies, Parts & Components,Packaging Equipment & Supplies, Paint & Resins, Post-processing Machines, Starting Materials & Intermediates, Semi-Finished Products, Reinforcing Fibres & Materials, Rubber + Synthetic Fibres, Pre-processing & Recycling, R&D Consultancies, Professional Literature. 	
									<br/>
									VISITOR PROFILE
									<br/>
									_ Manufacturers, processors& users of plastics &rubber products <br/>
									_ Raw materials processors <br/>
									_ Trade associations/Service organizations <br/>
									_ Management ,technical& Production sales& marketing &purchasing <br/>
									_ Automotive & transportation <br/>
									_ Building & construction <br/>
									_ Electrical, Electronics &Mechanical Engineering <br/>
									_ Telecommunications <br/>
									_ Packaging <br/>

								</p>

							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<h3 class="title">Thông tin vé</h3>
						</div>
						<div class="col-sm-12">
								<div class="col-sm-7">
								<p>PLASTECH Vietnam 2018</p>
								</div>
								<div class="col-sm-5">
								<p>Miễn phí</p>
								</div>
						</div>

						<div class="col-sm-12 col-md-12">
							<h3 class="title">Lịch sự kiện</h3>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-7">
								<p>
									Thứ 4, 13 Tháng 6 2018 - Thứ 6, 15 Tháng 6 2018
									<br />
									09:00 AM - 05:00 PM
								</p>
							</div>
							<div class="col-sm-5">
								<a class="btn btn-primary" type="button">Đăng ký</a>
							</div>
						</div>
					</div> <!-- end of panel-body -->
			</div> <!-- end of panel panel-default -->
		</div>
	</div>
</div>
