
<div class="row products">
  <!-- feature1 -->
<div class="product">
  <div class="row">
      <div *ngFor="let g of gift;" class="col-lg-4">
              <div class="panel-body">
                  <a href="product.html"><img src="./../../../assets/web/img/imgShop/{{g.urlHinh}}" alt="Product" class="img-responsive"></a>
                <div class="panel-heading no-padding center">
                  <p class="text-center" style="color:green; font-size:16px; ">{{g.product_name}}</p>
              </div>
                  <div class="text">
                      <div class="hang">
                          <div class="col-md-7">Quy đổi:</div>
                          <a class="career_link_location">{{g.point_sp}} Point</a>
                      </div>
                  </div>

              </div>
              <div class="buttons">
                <a routerLink="/shopping/chitietsp" class="btn btn-default"> 
                  <i class="fa fa-eye"></i>Xem chi tiết
                </a>
                <a routerLink="/giohang" class="btn btn-primary"> 
                  <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                </a>
                </div>
          <!-- .panel -->
      </div>
      <!-- .col-lg-6 -->

  </div>
  <!-- .row -->
<!-- .container -->
</div>
<!-- .feature2 -->
  <div class="pages">
    <ul class="pagination">
      <li><a href="#">&laquo;</a>
      </li>
      <li class="active"><a href="#">1</a>
      </li>
      <li><a href="#">2</a>
      </li>
      <li><a href="#">3</a>
      </li>
      <li><a href="#">4</a>
      </li>
      <li><a href="#">5</a>
      </li>
      <li><a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>