<div class="container-register">
    <div class="container">
      <div class="row">
        <!--row-->
        <div class="col-md-4 col-md-offset-4">
          <!--col-->
          <div class="panel panel-default">
            <!--pan-->
            <h2>Fogot Password</h2><br>
            <div class="panel-body">
              <div class="row show-hide-message">
                <div [ngClass]="messageClass">
                  {{message}}
                </div>
              </div>
              <form [formGroup]="form" (submit)="onRegisterSubmit()">
                <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}"
                 class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email" formControlName="email" (blur)="checkEmail()">
                  <ul class="help-block">
                    <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Trường này là bắt buộc</li>
                    <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.error?.maxlength) && form.controls.email.dirty">ít nhất là 3, tối đa là 30 ký tự</li>
                    <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Email không hợp lệ</li>
                    <li *ngIf="emailMessage">{{emailMessage}}</li>
                  </ul>
                </div>
              
                <div class="form-group">
                  <button [disabled]="processing || !emailValid" type="submit" name="btnResetPassword" class="btn btn-success btn-lg btn-block"><i class="fa fa-envelope" aria-hidden="true"></i> Gửi mật khẩu qua email</button>
                </div>
              </form>
            </div>
            <!--pan-->
          </div>
          <!--pan-->
        </div>
        <!--col-->
      </div>
      <!--row-->
    </div>
    <!--con-->
  </div>