
<div class="w3-container">
	
	<div class="w3-display-container" style="height: 500px">
		<div class="bg"></div>
		
	</div>

	<div class="w3-display-container" style="height:300px;">
		<div class="w3-display-topmiddle w3-hide-small" style="margin: 20px"><h2>Luật chơi</h2></div>	
		<div class="w3-display-middle" style="margin: 20px"> 
			
			<p>Có tất cả 3 lượt quay:</p>
			<p> + Bạn chỉ cần nhấn nút "Quay số", bạn sẽ có cơ hội nhận được phần thưởng của chương trình.</p>
			<p> + Nếu quay ra đúng số mà bạn đã được cấp lúc checkin</p>
			<p>Chúc các bạn may mắn!!!</p>
			
		</div>
	</div>
	<div class="w3-display-container" style="height: 100px">
		<div class="w3-display-bottommiddle w3-hide-small">
			<button id="btnGame" type="button" class="btn btn-lg btn-primary">Quay số</button>
			<div id="random"></div>
		</div>
	</div>
</div>

