
<div class="container">
<app-navbar></app-navbar>
<app-toast [message]="toast.message"></app-toast>

<div class="media">
  <div class="media-header" style="text-align: center; margin: 15px 0px">
    <h3>{{ event.title }}</h3>
    <h5> {{ event.location }}, <span class="w3-opacity">{{ event.startdate | date }}</span></h5>
    <img class="d-flex mr-3" src="{{ event.image }}" alt="Generic placeholder image" style="width: 100%">
  </div>
 
  <div class="media-body">
    
    <p> Description: {{ event.description }}</p>
    <p> Guest: {{event.guest}} </p>
    <p> Start Day: {{ event.startdate | date }}</p>
    <p> End Day: {{ event.enddate | date }}</p>
    <!-- <p> Game: {{ event.game }} </p> -->
    <!-- <p *ngFor="let game of games">{{ game.name }}</p> -->
    <button class="btn btn-lg btn-danger" (click)="toggle=!toggle">{{toggle ? 'End' : 'Start'}}</button>
    <a routerLink="/checkin/{{event._id}}"><button class="btn btn-lg btn-success" >Checkin</button></a>
  </div>
</div>
<app-footer></app-footer> 
</div>