<ul class="nav navbar-nav navbar-right" style="padding-right:90px;">
    <li>
        <a routerLink='/admin'>Quản trị</a>
    </li>
    <li>
        <a routerLink="/jobdashboard">Job dashboad</a>
    </li>
    <li>
        <a routerLink='/shopping'>Đổi quà</a>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw" style="color:#006699"></i> <i class="fa fa-caret-down" style="color:#006699"></i>
          </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a routerLink="/profile"><i class="fa fa-user fa-fw"></i>Thôn tin cá nhân</a>
            </li>
            <!-- <li><a onclick="window.location.href='file:///E:/HOC%20TAP/HK7/TLCN/TL/admin/index.html'"><i class="fa fa-user-secret fa-fw"></i> Quản trị</a>
          </li> -->
            <li class="divider"></li>
            <li><a (click)="onLogoutClick()"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>