
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        Create Event Page <!-- <small>Best form elements.</small> -->
      </h1>
    </div>
  </div>
  <div class="row">
    <!-- start of col-lg-12 part 01-->
    <div class="col-lg-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3>Add New Event</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">
              <!-- input event name -->
              <div class="form-group">
                  <label>Tên event</label>
                  <input class="form-control" type="text" placeholder="Nhập tên event">
              </div>
              <!-- input start/end date  -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Thời gian bắt đầu </label>
                    <input class="form-control" placeholder="Datepicker">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Thời gian kết thúc </label>
                    <input class="form-control" placeholder="Datepicker">
                  </div>
                </div>
              </div>
              <!-- input location  -->
              <div class="form-group">
                <label>Địa điểm</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <!-- input number of people  -->
              <div class="form-group">
                <label>Số lượng người tham gia dự kiến</label>
                <input class="form-control" type="text" placeholder="Số người tham dự">
              </div>
              <!-- input game  -->
              <div class="form-group">
                <label>Chọn game cho sự kiện</label>
                <select class="form-control">
                    <option>Game quay số</option>
                    <option>Game xóc đĩa</option>
                    <option>Game bầu cua</option>
                    <option>4</option>
                    <option>5</option>
                </select>
              </div>

            </div> <!-- /.col-lg-6 -->

            <!-- /.col-lg-6 (nested) -->                                
            <div class="col-lg-6">
              <div class="form-group">
                <label>Background 1</label>
                <input type="file">
              </div>
              <div class="image-responsive">
                <img src="./assets/imgs/LCS.png" width="300" height="120">
              </div>   
              <div class="form-group">
                <label>Background 2</label>
                <input type="file">
              </div> 
              <div class="image-responsive">
                <img src="./assets/imgs/LCS.png" width="300" height="120">
              </div> 
            </div> <!-- /.col-lg-6 (nested) -->  
          </div> <!-- end of row -->

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Nội dung chính của sự kiện</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div> <!-- end of panel-body -->

      </div> <!-- end of panel panel-default -->
    </div> <!-- end of col-lg-12 part 01-->

    <!-- start of col-lg-12 part 02 -->   
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Lịch trình</h3>                                                       
        </div>
        <div class="panel-body">
          <div class="row">                                    
            <div class="col-lg-3">
              <div class="form-group">
                  <label>Thời gian</label>
                  <input class="form-control" placeholder="Datepicker">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group">
                  <label>Nội dung kế hoạch 1</label>
                  <textarea class="form-control"></textarea>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                  <label>Thời gian</label>
                  <input class="form-control" placeholder="Datepicker">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group">
                  <label>Nội dung kế hoạch 2</label>
                  <textarea class="form-control"></textarea>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                  <label>Thời gian</label>
                  <input class="form-control" placeholder="Datepicker">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group">
                  <label>Nội dung kế hoạch 3</label>
                  <textarea class="form-control"></textarea>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label>Tài liệu</label>
                <input type="file">
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success" type="button">Create</button>
              <button class="btn btn-warning" type="button">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of col-lg-12 part 02 -->   

  </div>
</div>
