<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Địa chỉ</h3>
          <p>1 Võ văn ngân, Phường linh chiểu
            <br>Quận Thủ Đức, Tp.HCM</p>
          </div>
          <div class="footer-col col-md-4">
            <h3>Mạng xã hội</h3>
            <ul class="list-inline">
              <!-- some social networks -->
              <li><a class="icon" href="LINK" title="Follow with Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="icon" href="LINK" title="Follow with Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="icon" href="LINK" title="Follow with YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <!-- <li><a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a></li> -->

            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>Hùng-Khiêm</h3>
            <p>Nhóm tiểu luận chuyên ngành K14 </p>
            <p><a href="http://hcmute.edu.vn">Trường đại học sư phạm kỹ thuật Tp.HCM</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; 2017
            UTER
          </div>
        </div>
      </div>
    </div>
  </footer>