/*calltoaction*/
#calltoaction .jumbotron {
	height: 70vh;
    /* width: 100vw; */
	padding: 150px 0;
	text-align: center;
	/* background: #63AFC7 url('./../../../assets/web/img/imgtin/hometd3.jpg'); */
	background-size: cover;
	margin-bottom: 0;
}
#calltoaction .jumbotron h1,
#calltoaction .jumbotron p {
	color:#FFFFFF;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#calltoaction .jumbotron .btn-feature {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.img_Chitiet{

}
#calltoaction .jumbotron .btn-feature:hover {
	color: #F1F1F1;
}
/* .content .row {
	padding-bottom: 5px;
	font-size: 20px;
} */
.chitiet{
	padding-top: 80px;
}