<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Vui lòng đăng nhập thì mới truy cập được chức năng này !</h1>
        <h2>
          Bạn chưa đăng nhập vào hệ thống. </h2>

        <div class="error-details">
        <a routerLink="/login">Đăng nhập</a>  ngay, hoặc <a routerLink="/register">đăng ký</a>(Nếu bạn chưa có tài khoản), hoặc bạn có thể đăng nhập với
        </div>
        <div class="error-actions">
          <div class="col-md-6">
            <a routerLink="#" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> Sign in with Facebook
            </a></div>
          <div class="col-md-6">
            <a routerLink="#" class="btn btn-block btn-social btn-google-plus">
               <i class="fa fa-google-plus"></i> Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>